:root {
	color-scheme: light dark;
	/* colores para el wizard */
	--mainColor: #07c;
	--baseColor: light-dark(#555, currentColor);
	--colorActivo: light-dark(#FFF, #000);
}

body {
	font-family: Verdana, Sans-Serif;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1020px;
	padding: 0 10px;
}

label {
	user-select: none;
}

#pasos summary {
	display: none;
}

#pasos details > div {
	padding: 0 1em 1em;
}

#pasos details[open] > div {
	border: 1px solid #BBB;
	margin: 10px 0;
}

#SelectorFichero {
	width: 1px;
	height: 1px;
	opacity: 0.1;
	background: transparent;
}


#ControlesGiro {
	text-align: center;
}

#ControlesDesplazamiento > div {
	margin: 10px 0;
}

.ContenedorControl {
	display: flex;
	flex-wrap: wrap;
	gap: 0 10px;
}

.ContenedorControl input {
	flex: 1;
}

.ContenedorControl label {
	flex-basis: 140px;
}

#DivMascaraDni {
	margin-top: 0.5em;
}

@media (max-width: 560px) {
	.ContenedorControl label {
		flex-basis: 100%;
	}
}

.centrado {
	text-align: center;
	margin-top: 2em;
}

.centrado input {
	padding: 0.3em 2.3em;
	font-size: 100%;
}

.Siguiente {
	margin-top: 1em;
	display: flex;
	justify-content: space-between;
}

.Siguiente input {
	font-size: 100%;
}

#AyudaOcultarParcialmente {
	font-size: 90%;
}

#Previsualizacion,
canvas {
	max-width: 100%;
	height: auto;
}

#Previsualizacion {
	aspect-ratio: 1000 / 625;
	position: relative;
}

#Previsualizacion canvas {
	position: absolute;
	left: 0;
	top: 0;
}

#canvas {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#FAQ summary {
	cursor: pointer;
}

#FAQ details {
	margin: 1em;
}

.respuesta {
	padding: 0 1em;
}

footer {
	background-color: light-dark(#EFEFEF, #333);
	border-top: 1px solid #666;
	padding: 0.4em 0 0.8em;
	text-align: center;
	margin-top: 1em;
	font-size: 80%;
}

.wizard-progress {
	display: flex;
	min-height: 60px;
}

.node,
.step-name {
	cursor: pointer;
}

.step {
	text-align: center;
	position: relative;
	flex: 1;
}

.step:not(:last-child):before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 33px;
	background-color: var(--baseColor);
	height: 5px;
	width: 100%;
}

.node {
	border: 4px solid var(--baseColor);
	background-color: var(--baseColor);
	border-radius: 50%;
	width: 14px;
	aspect-ratio: 1;
	position: absolute;
	top: 24px;
	left: 50%;
	margin-left: -12px;
}

.step.complete:before {
	background-color: var(--mainColor);
}

.complete .node {
	border-color: var(--mainColor);
	background-color: var(--mainColor);
}

.step.in-progress:before {
	background: var(--mainColor);
	background: linear-gradient(to right, var(--mainColor) 0%, var(--baseColor) 100%);
}

.in-progress .node {
	border-color: var(--mainColor);
	background-color: var(--colorActivo);
}
